<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested path isn't a real file or directory, serve index.html
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule . /index.html [L]
</IfModule>
